<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <style>
    .main{
      position: relative;
    }
    .main img{
           max-width: 100%;
           height: auto;
           position: relative;
    }
    .banner-text{
          text-align: center;
          font-size: 20px;
          padding: 10px;
          color: aliceblue;
    }
  </style>
</head>
<body>
  <div class="main">
    <img src="yogapose.jpg">
    <h2 style="text-align: center;">yoga template</h2>
</div>
<div class="banner-text">yoga template</div>
  
</body>
</html>